<div class="row">
  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h5>Total Users</h5>
        <p><%= @total_users %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h5>Total Stores</h5>
        <p><%= @total_stores %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h5>Total Ratings</h5>
        <p><%= @total_ratings %></p>
      </div>
    </div>
  </div>
</div>
